body {
  margin: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  column-gap: 30px;
  row-gap: 40px;
  padding: 30px 35px;
  justify-content: center;
}

.person {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px 46px;
  margin: -10px -10px -46px;
  transition: transform 1s;
}

.person__photo {
  display: flex;
}

.person__img {
  border-radius: 200px;
  width: 100%;
  transition: border-radius 1s;
}

.person__rank {
  position: absolute;
  right: 10px;
  align-self: center;
  border-radius: 50%;
  color: #8b0000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
}

.person__name {
  display: block;
  text-align: center;
  margin-top: 8px;
  color: #2f4f4f;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.person__extra {
  position: absolute;
  opacity: 0;
}

@media (min-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 200px);
    padding: 30px 55px;
  }
}

.person:hover {
  background-color: #eeeeee;
  z-index: 1;
  border-radius: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.person:hover .person__img {
  border-radius: 60px;
}

.person:hover .person__extra {
  opacity: 1;
  text-align: center;
  margin-top: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.person__sport::after {
  content: ",";
}

.person__pay::before {
  content: "$";
}

.person__pay::after {
  content: "M";
}
